.mypage-default
  %header.mypage-header
    .mypage-header__upper
      %h1.mypage-header__upper__image
        = image_tag "logo.png", class:"mypage-image", alt:"logo-image"
      %from.mypage-header__search
        %input.mypage-header__search__input{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
        %i.fas.fa-search
  .mypage-header__bottom
    %nav.b-left
      %ul.header-nav
        %li
          %h2.header-nav-category
            %a.header-nav-category-list
            %i.fas.fa-list
            %span
              カテゴリーから探す
        %li
          %h2.header-nav-bland
            %a.header-nav-bland-list
            %i.fas.fa-tags
            %span
              ブランドから探す
    .b-right
      %ul.header-nav-user
        %li
          %a.like-list
            %i.far.fa-heart
            %span
              いいね！一覧
        %li
          %a.notice-list
            %i.far.fa-bell
            %span
              お知らせ
        %li
          %a.todo-list
            %i.fas.fa-check
            %span
              やることリスト
        %li
          %a.mypage-link
            %i.far.fa-user-circle
            %span
              マイページ
