* {
  box-sizing: border-box;
  }
  
  $block-solid:solid 1px rgb(196, 207, 207);
  $block-padding-bottom: 20px;
  $block-margin-top: 50px;

  .error_message{
    font-size: 15px;
    color: red;
    margin-top: 5px;
  }

  .field_with_errors {
    outline: 0;
    border-color: #3CCACE;
  }

  
  .item-main {
    height: 100vh;
    width: 100vw;
    background-color: #f8f8f8;
    overflow: scroll;
    .icon {
      height: 80px;
      text-align: center;
      margin-bottom: 20px;
      padding-top: 40px;
      .iconImage {
        margin: 0 auto;
      }
    }
    &__block {
      background-color: #ffffff;
      width: 650px;
      margin: 0 auto;
      padding: 20px 50px 200px;
      .error{
        background-color: red;
        width: 100%;
        color: white;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 20px;
        ul {
          background-color: #f5f5f5;
          color: #160606;
          padding: 10px 10px 20px;
          font-size: 16px;
        }
      }
      .head {
        font-size: 25px;
        margin-bottom: 70px;
        color: #3CCACE;
        border-bottom: solid 1px;
        img {
          text-align: left;
        }
      }
      .image-block {
        padding: 0 20px;
        border-bottom: $block-solid;
        padding-bottom: $block-padding-bottom;
        &__form {
          display: flex;
          #require {
            background-color: #ff0211;
            height: 15px;
            width: 33px;
            font-size: 13px;
            margin-left: 10px;
            margin-top: 5px;
            line-height: 15px;
            color: #fff;
            border-radius: 3px;
            text-align: center;
          }
        }
        p {
          margin-top: 20px;
          font-size: 15px;
        }
        .float-box {
          display: flex;
          justify-content: space-between;
          padding-top: 20px;
          .item-image__content{
            display: flex;
            justify-content: space-between;
            width: 110px;
            &--icon{
              img {
                width: 98%;
              }
            }
          }
          .item-num-0{
            width: 520px;
          }
          .item-num-1{
            width: 491px;
          }
          .item-num-2{
            width: 363px;
          }
          .item-num-3{
            width: 234px;
          }
          .item-num-4{
            width: 106px;
          }
          .item-num-5 {
            display: none;
          }
          #image-block__boxes {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            label{
              width: 100%;
              .image-block__boxes__image-box {
                display: block;
                display: flex;
                justify-content: space-between;
                display: flex;
                align-content: center;
                background-color: rgb(208, 238, 247);
                cursor: pointer;
                display: flex;
                height: 150px;
                flex-wrap: wrap;
                -webkit-box-pack: center;
                justify-content: center;
                border-width: 1px;
                border-style: dashed;
                border-color: rgb(80, 108, 248);
                border-image: initial;
                transition: all 0.5s ease-out 0s;
                text-align: center;
                i {
                  cursor: pointer;
                }
              }
              .hidden-field {
                display: none;
              }
            }
          }
          .item-image__operation{
            &__delete {
              background-color: #3CCACE;
              color: #ffffff;
              font-size: 30px;
              height: 50px;
              text-align: center;
              line-height: 50px;
              width: 98%;
              cursor: pointer;
            }
          }
        }
      }
      .item-info{
        padding: 0 20px;
        border-bottom: $block-solid;
        padding-bottom: $block-padding-bottom;
        margin-top: $block-margin-top;
        &__name-block {
          &__form {
            display: flex;
            #require {
              background-color: #ff0211;
              height: 15px;
              width: 33px;
              font-size: 13px;
              margin-left: 10px;
              margin-top: 5px;
              line-height: 15px;
              color: #fff;
              border-radius: 3px;
              text-align: center;
            }
          }
          &__name-box {
            margin-top: 20px;
            width: 100%;
            height: 50px;
            padding-left: 5px;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            line-height: 50px;
            border-radius: 4px;
            border-color: gray;
          }
        }
        &__descript {
          margin-top: 40px;
          &__form {
            display: flex;
            #require {
              background-color: #ff0211;
              height: 15px;
              width: 33px;
              font-size: 13px;
              margin-left: 10px;
              margin-top: 5px;
              line-height: 15px;
              color: #fff;
              border-radius: 3px;
              text-align: center;
            }
          }
          &__descript-box {
            margin-top: 20px;
            height: 150px;
            width: 100%;
            padding-left: 5px;
            overflow: scroll;
            border-radius: 4px;
            border-color: gray;
          }
        }
      }
      .item-detail {
        padding: 0 20px;
        border-bottom: $block-solid;
        padding-bottom: $block-padding-bottom;
        margin-top: $block-margin-top;
        p {
          color: rgb(89, 86, 92);
          font-size: 14px;
        }
        &__category {
          margin-top: 40px;
          &__form {
            display: flex;
            #require {
              background-color: #ff0211;
              height: 15px;
              width: 33px;
              font-size: 13px;
              margin-left: 10px;
              margin-top: 5px;
              line-height: 15px;
              color: #fff;
              border-radius: 3px;
              text-align: center;
            }
          }
          select {
            margin-top: 20px;
            height: 50px;
            width: 100%;
          }
        }
        &__size {
          margin-top: 40px;
          &__form {
            display: flex;
            #require {
              background-color: #ff0211;
              height: 15px;
              width: 33px;
              font-size: 13px;
              margin-left: 10px;
              margin-top: 5px;
              line-height: 15px;
              color: #fff;
              border-radius: 3px;
              text-align: center;
            }
          }
          select {
            margin-top: 20px;
            height: 50px;
            width: 100%;
          }
        }
        &__brand {
          margin-top: 40px;
          &__form {
            display: flex;
            #require {
              background-color: #3CCACE;
              height: 15px;
              width: 33px;
              font-size: 13px;
              margin-left: 10px;
              margin-top: 5px;
              line-height: 15px;
              color: #fff;
              border-radius: 3px;
              text-align: center;
            }
          }
          .brand-input {
            margin-top: 20px;
            height: 50px;
            width: 100%;
            padding: 3px;
          }
        }
        &__status {
          margin-top: 40px;
          &__form {
            display: flex;
            #require {
              background-color: #ff0211;
              height: 15px;
              width: 33px;
              font-size: 13px;
              margin-left: 10px;
              margin-top: 5px;
              line-height: 15px;
              color: #fff;
              border-radius: 3px;
              text-align: center;
            }
          }
          select {
            margin-top: 20px;
            height: 50px;
            width: 100%;
          }
        }
      }
      .item-send {
        margin-top: 70px;
        border-bottom: $block-solid;
        padding-bottom: $block-padding-bottom;
        margin-top: $block-margin-top;
        p {
          color: rgb(89, 86, 92);
          font-size: 14px;
        }
        &__burden {
          margin-top: 40px;
          &__form {
            display: flex;
            #require {
              background-color: #ff0211;
              height: 15px;
              width: 33px;
              font-size: 13px;
              margin-left: 10px;
              margin-top: 5px;
              line-height: 15px;
              color: #fff;
              border-radius: 3px;
              text-align: center;
            }
          }
          &__burden-box {
            margin-top: 20px;
            height: 50px;
            width: 100%;
          }
        }
        &__area {
          margin-top: 40px;
          &__form {
            display: flex;
            #require {
              background-color: #ff0211;
              height: 15px;
              width: 33px;
              font-size: 13px;
              margin-left: 10px;
              margin-top: 5px;
              line-height: 15px;
              color: #fff;
              border-radius: 3px;
              text-align: center;
            }
          }
          .area-box {
            margin-top: 20px;
            height: 50px;
            width: 100%;
            padding: 3px;
          }
        }
        &__shipping-charge{
          margin-top: 40px;
          &__form {
            display: flex;
            #require {
              background-color: #ff0211;
              height: 15px;
              width: 33px;
              font-size: 13px;
              margin-left: 10px;
              margin-top: 5px;
              line-height: 15px;
              color: #fff;
              border-radius: 3px;
              text-align: center;
            }
          }
          &__input {
            span{
              margin-right: 5px;
            }
            .charge-box {
              margin-top: 20px;
              height: 50px;
              width: 150px;
              padding: 0 16px;
              text-align: right;
            }
          }
        }
        &__day{
          margin-top: 40px;
          &__form {
            display: flex;
            #require {
              background-color: #ff0211;
              height: 15px;
              width: 33px;
              font-size: 13px;
              margin-left: 10px;
              margin-top: 5px;
              line-height: 15px;
              color: #fff;
              border-radius: 3px;
              text-align: center;
            }
          }
          select {
            margin-top: 20px;
            height: 50px;
            width: 100%;
          }
        }
      }
      .item-price {
        margin-top: 70px;
        border-bottom: $block-solid;
        padding-bottom: $block-padding-bottom;
        margin-top: $block-margin-top;
        p {
          color: rgb(89, 86, 92);
          font-size: 14px;
        }
        &__contents{
          margin-top: 40px;
          display: flex;
          justify-content: space-between;
          &__form {
            display: flex;
            #require {
              background-color: #ff0211;
              height: 15px;
              width: 33px;
              font-size: 13px;
              margin-left: 10px;
              margin-top: 5px;
              line-height: 15px;
              color: #fff;
              border-radius: 3px;
              text-align: center;
            }
          }
          &__input {
            span{
              margin-right: 5px;
            }
            &__price-box {
              margin-top: 20px;
              height: 50px;
              width: 150px;
              padding: 0 16px;
              text-align: right;
              border-radius: 4px;
              font-family: inherit;
            }
          }
        }
      }
      .submit-btn {
        margin: 100px 0 0;
        background-color: #3CCACE;
        text-align: center;
        border-radius: 4px;
        padding: 15px;
        cursor: pointer;
        width: 100%;
      }
      .logo {
        margin: 50px 20px;
      }
    }
  }


    
    $table-left-color:rgb(208, 235, 236);
    $table-padding: 10px 5px 10px;
    $furima-color: #3CCACE;
    
    .main {
      background-color: #f8f8f8;
      height: 100vh;
      width: 100vw;
      padding: 30px 0 200px 0;
      overflow: scroll;
      .detail-box {
        background-color: #fff;
        width: 700px;
        margin: 0 auto;
        padding: 30px;
        .item-name {
          text-align: center;
          font-size: 24px;
          word-wrap: break-word;
          line-height: 1.4;
        }
        &__item-main-content {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          &__image-area {
            &__item-photo {
              img {
                vertical-align: bottom;
              }
            }
            &__item-photos {
              display: flex;
              justify-content: space-between;
              height: auto;
            }
          }
          table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #f5f5f5;
            margin-left: 20px;
            font-size: 14px;
            tr th:nth-of-type(1) {
              background-color: $table-left-color;
              padding: $table-padding;
            }
            tr td:nth-of-type(1) {
              background-color: $table-left-color;
              padding: $table-padding;
            }
            tr th:nth-of-type(2) {
              padding: $table-padding;
            }
            tr td:nth-of-type(2){
              padding: $table-padding;
            }
            tr:nth-child(2) td:nth-child(2) {
              a {
                text-decoration: none;
              }
              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
        &__price-box {
          margin-top: 50px;
          text-align: center;
          color: $furima-color;
          .item-price {
            font-size: 50px;
            margin-right: 16px;
          }
          .item-tax {
            font-size: 10px;
          }
          .item-shipping-fee {
            font-size: 16px;
          }
        }
        &__buy-btn {
          display: block;
          width: 100%;
          height: 70px;
          line-height: 70px;
          background-color: $furima-color;
          font-size: 24px;
          text-align: center;
          cursor: pointer;
          text-decoration: none;
          color: #ffffff;
        }
        &__description {
          margin: 20px;
          font-size: 16px;
          &__inner {
            p {
              margin-top: 10px;
            }
          }
        } 
      }
      .comment-box {
        background-color: #fff;
        width: 700px;
        margin: 0 auto;
        padding: 30px;
        margin-top: 10px;
        &__comment-container {
          width: 100%;
          &__comments {
            h4 {
              font-family: 'HiraKakuProN-W6';
              margin-top: 20px;
            }
            &__comments-list {
              padding: 5px;
              margin-top: 10px;
            }
          }
          & .comment-textarea {
            padding: 2px 5px;
            max-width: 100%;
          }
          & .field{
            padding: 2px 5px;
          }
        }
      }
    }
    
  .detail-box__login-btn {
    display: flex;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    a {
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid white;
      background-color: $furima-color;
      line-height: 1.5;
      font-size: 16px;
      width: calc(50% - 6px);
      color: white;
    }
  }

  .detail-box__edit-btn {
    display: flex;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    a {
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid white;
      background-color: $furima-color;
      line-height: 1.5;
      font-size: 16px;
      width: calc(50% - 6px);
      color: white;
    }
  }
