%ul.header__menu-box--left__parents
  %li.header__menu-box--left__parents__parent
    = link_to "レディース",  get_category_children_items_path(id: 1)
    %ul.header__menu-box--left__children
        = render partial: "header_child", collection: @category_children, as: "category"