.mypage-default
  %header.mypage-header
    .mypage-header__upper
      %h1.mypage-header__upper__image
        = image_tag "logo.png", class:"mypage-image", alt:"logo-image"
      %from.mypage-header__search
        %input.mypage-header__search__input{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
        %i.fas.fa-search
