* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.form-group label {
  font-weight: 600;
  font-size: 12px;
}

.single-header {
  text-align: center;
  background-color: #ccc;
}

.l-single-container__refistration {
  font-size: 20px;
  padding: 16px;
  text-align: center;
  border: 1px solid rgb(216, 216, 216);
}

.header-image {
  width: 200px;
}

.l-single-content {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.form-require {
  font-size: 10px;
}

.footer-image {
  width: 100px;  
  margin-top: 30px;
}

.single-footer {
  background-color: #ccc;
  text-align: center;
}

.input-box {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
}

.input-box-half {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: calc(50% - 6px);
}

.input-box-year {
  height: 48px;
  width: calc(30% - 17px);
}

.input-box-month {
  height: 48px;
  width: calc(30% - 17px);
}

.input-box-day {
  height: 48px;
  width: calc(30% - 17px);
}

.form-group {
  text-align: left;
  margin: 24px 0 0;
}

.form-group__info-text {
  margin: 16px 0 0;
}

.form-group .form-require{
  background-color: #ea352d;
  padding: 2px 4px;
  color: #fff;
}

.actions input {
  height: 48px;
  margin: 16px 0;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #ea352d;
  color: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
  border-radius: 10px;
}

.info-text-body {
  font-size: 12px;
}

.info-text-contain {
  text-align: left;
  font-size: 12px;
  color: #888;
  margin: 8px;
}

.info-text-head {
  font-size: 12px;
  font-weight: 600;
}