.header {
  height: 120px;
  background-color: #fff;

 &__logo {
    text-align: center;
    line-height: 150px;
    font-size: 30px;
 }
}

.main {
  padding: 50px;
  background-color: #EEEEEE;
 
 .main-item-show {
   width: 700px;
   margin: 0 auto;
   text-align: center;
   background-color: #fff;

  .main-item-header {
    font-size: 30px;
    line-height: 3;
  }

  .item-container {
    border-top: 1px solid #f3f3f3;
  
   &__name {
      font-size: 24px;
      font-weight: bold;
      margin-top: 10px;
   }

   &__image {
      margin: 10px 0 0;
   } 

   &__price {
      font-size: 48px; 
      font-weight: bold;
   }

   &__price-detail {
      font-size: 16px; 
      margin-bottom: 10px;
   }
  }
 }

 .buy-item-content {
   border-top: 1px solid #f3f3f3;
   padding: 30px 100px;
  
  .buy-item-inner {
    max-width: 500px;
    
   &__price {
     font-size: 20px;
     font-weight: bold;
     display: flex;
     justify-content: space-between;
   }

   &__userpoint {
      text-align: left;
      font-size: 14px;
   }

   &__payment {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      list-style: none;
      padding: 34px 0;
  
    a {
      text-decoration: none;
      color: blue;
    }
   }
   
   &__payment-method {
     text-align: left;
     border-bottom: 1px solid #f3f3f3;
   }

   &__shipping-address {
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
     list-style: none;
     padding: 34px 0;

    a {
      text-decoration: none;
      color: blue;
    }
   }

   &__address {
      text-align: left;
      border-bottom: 1px solid #f3f3f3;
   }
  }
 }

  #buy-button {
    font-size: 25px;
    height: 7Vh;
    width: 98%;
    margin: 25px 10px;
    background-color: red;
    color: #fff;
    cursor: pointer;
 }
}

.footer {
  padding: 60px 0;
  background-color: #272727;
  color: #fff;
  
 &__contents {
    display: flex;
    justify-content: center;

  li {
    list-style: none;
    margin:30px 25px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }
 }

 &__logo {
    font-size: 20px;
    text-align: center;

  &__trademark {
    font-size: 14px;
  }
 }
}