.header {
  height: 120px;
  background-color: #fff;
  &__logo {
    text-align: center;
    line-height: 150px;
    font-size: 30px;
  }
}

.main {
  padding: 70px;
  background-color: #EEEEEE;
  
.buy-item-head {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 3;
  background-color: #fff;
}

.buy-item-container {
  padding: 10px;
  border-top: 1px solid #f3f3f3;
}

.buy-item {
  font-size: 24px;
  font-weight: bold;
}
.buy-item-image {
  margin: 15px 0 0;

  .buy-mony {
    font-size: 25px; 
    font-weight: bold;
  }
  }
  .buy-item-content {
    border-top: 1px solid #f3f3f3;
    padding: 20px 190px;

    .buy-item-inner {
    text-align: center
    font-size 18px;

    .buy-price {
    font-weight: 800;
    display: flex;
    .buy-price-cell {
      margin-left: 50px;
    }
    }
    .buy-cash {
      margin-top: 20px;
    }
    .payment-method {
      border-bottom: 1px solid #f3f3f3;
      margin-top: 5px;
    }
    .buy-address {
      margin-top: 20px;
    }
    .shipping-address {
      border-bottom: 1px solid #f3f3f3;
      margin-top: 5px;
    }
  }
  }
}

.buy-item-box {
  button {
    font-size: 25px;
    height: 7Vh;
    width: 98%;
    margin: 20px 10px;
  }
}

.footer {
  padding: 40px 0;
  background-color: #272727;
  color: #fff;

.contents {
  display: flex;
  justify-content: center;

  li {
  list-style: none;
  margin:30px 30px;
  }
  
  a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  }
}
  &__logo {
    max-width:160px;
    margin: 0 auto;
    font-size: 30px;
  }

  p {
    text-align: center;
    font-size: 14px;
  }

  .items-box_photo__sold{
    width: 0;
    height: 0;
    border-top: 60px solid #ea352d ;
    border-right: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid #ea352d ;
    z-index:100;
    position: relative;
    top:-320px;
    &__inner{
      transform: rotate(-45deg);
      font-size: 28px;
      margin:-35px 0px 0px -55px;
      color: #fff;
      letter-spacing: 2px;
      font-weight: 600;
    }
  }
}


// ul.header__navi--categoryButton {
//   margin: 0px;               /* メニューバー外側の余白(ゼロ) */
//   padding: 0px 0px 0px 15px; /* メニューバー内側の余白(左に15px) */
//   background-color: #cc0000; /* バーの背景色(濃い赤色) */
// }

.category_list{
  height: 10px;
  width: 150px;          /* メニュー項目の横幅(125px) */
  display: flex; /* ★横並びに配置する */
  list-style-type: none; /* ★リストの先頭記号を消す */
  position: relative;    /* ★サブメニュー表示の基準位置にする */
}

.parents_list {
  height: 455px;
  background-color: white; /* メニュー項目の背景色(濃い赤色) */
  color: #333;              /* メニュー項目の文字色(白色) */
  text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
  font-weight: bold;         /* 太字にする */
  display: none;            /* ★項目内全域をリンク可能にする */
}

.parents_list a {
  background-color: white;
  margin: 0px;        /* ★サブメニュー外側の余白(ゼロ) */
  padding: 0px;       /* ★サブメニュー内側の余白(ゼロ) */
  line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
  text-align: left;    /* 文字列の配置(左寄せ) */
  padding-left: 5px;   /* 文字列前方の余白(5px) */
  font-weight: normal; /* 太字にはしない */
  width: 230px;               /* サブメニュー1項目の横幅(135px) */
  font-weight:bold;
  text-decoration:none;
  color: #333;              /* メニュー項目の文字色(白色) */
  display: block;            /* ★項目内全域をリンク可能にする */
}
.parents_list a:hover {
  background-color: #3ccace; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
  color: white;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
}

.children_list a:hover {
  background-color: #3ccace; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
  color: white;           /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
}

.grand_children_list a:hover {
  background-color: #3ccace; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
  color: white;           /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
}

.grand_child_list a:hover {
  background-color: #ffff80; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
  color: red;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
}

.children_list {
  height: 455px;
  display: inline-block; /* ★横並びに配置する */
}

.grand_children_list {
  height: 455px;
}

.child_category {
  background-color: white;
  margin: 0px;        /* ★サブメニュー外側の余白(ゼロ) */
  padding: 0px;       /* ★サブメニュー内側の余白(ゼロ) */
  line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
  text-align: left;    /* 文字列の配置(左寄せ) */
  padding-left: 5px;   /* 文字列前方の余白(5px) */
  font-weight: normal; /* 太字にはしない */
  display: block;            /* ★項目内全域をリンク可能にする */
  width: 230px;               /* サブメニュー1項目の横幅(135px) */
  font-weight:bold;
  text-decoration:none;
  color: #333;              /* メニュー項目の文字色(白色) */
  // display: none;      /* ★標準では非表示にする */
}

.grand_child_category {
  background-color: white;
  margin: 0px;        /* ★サブメニュー外側の余白(ゼロ) */
  padding: 0px;       /* ★サブメニュー内側の余白(ゼロ) */
  line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
  text-align: left;    /* 文字列の配置(左寄せ) */
  padding-left: 5px;   /* 文字列前方の余白(5px) */
  font-weight: normal; /* 太字にはしない */
  display: block;            /* ★項目内全域をリンク可能にする */
  width: 230px;               /* サブメニュー1項目の横幅(135px) */
  font-weight:bold;
  text-decoration:none;
  color: #333;              /* メニュー項目の文字色(白色) */
}