.header {
  height: 120px;
  background-color: #fff;
  &__logo {
    text-align: center;
    line-height: 150px;
    font-size: 30px;
  }
}

.main {
  padding: 70px;
  background-color: #EEEEEE;
  
.buy-item-head {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 3;
  background-color: #fff;
}

.buy-item-container {
  padding: 10px;
  border-top: 1px solid #f3f3f3;
}

.buy-item {
  font-size: 24px;
  font-weight: bold;
}
.buy-item-image {
  margin: 15px 0 0;

  .buy-mony {
    font-size: 25px; 
    font-weight: bold;
  }
  }
  .buy-item-content {
    border-top: 1px solid #f3f3f3;
    padding: 20px 190px;

    .buy-item-inner {
    text-align: center
    font-size 18px;

    .buy-price {
    font-weight: 800;
    display: flex;
    .buy-price-cell {
      margin-left: 50px;
    }
    }
    .buy-cash {
      margin-top: 20px;
    }
    .payment-method {
      border-bottom: 1px solid #f3f3f3;
      margin-top: 5px;
    }
    .buy-address {
      margin-top: 20px;
    }
    .shipping-address {
      border-bottom: 1px solid #f3f3f3;
      margin-top: 5px;
    }
  }
  }
}

.buy-item-box {
  button {
    font-size: 25px;
    height: 7Vh;
    width: 98%;
    margin: 20px 10px;
  }
}

.footer {
  padding: 40px 0;
  background-color: #272727;
  color: #fff;

.contents {
  display: flex;
  justify-content: center;

  li {
  list-style: none;
  margin:30px 30px;
  }
  
  a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  }
}
  &__logo {
    max-width:160px;
    margin: 0 auto;
    font-size: 30px;
  }

  p {
    text-align: center;
    font-size: 14px;
  }
}